.inb{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 584px;
    max-width: 584px;
    margin-top: 30px;
}
.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4e43;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.ins {
    text-align: center;
    font-size: 20px;
    margin: 15px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.google-links {
    margin: 10px; 
    text-align: right; 
    font-size: 20px;
}
.advanced-search {
    color: #d93025; 
    font-size: 20px;
    margin: 25px 35px;
}
.line {
    border-bottom: 1px solid #ebebeb;
}
.heading2 {
    font-size: 16px;
    color: #333333;
}
.ad-div {
    margin: 50px;
}
.fill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.inquire {
    width: 200px;
}
.box{
    width: 385px;
}
.ad-para{
    font-size: 13px;
    vertical-align: middle;
}
.ad-button {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 5px;
}
.button {
    display: flex;
    justify-content: flex-end;
    width: 585px;
    margin-top: 30px;
}